Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.7.10
Tempita==0.5.2
Twisted==14.0.2
argparse==1.2.1
buildbot==0.8.9
cffi==0.8.6
characteristic==14.1.0
cryptography==0.6.1
decorator==3.4.0
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycrypto==2.6.1
python-dateutil==1.5
service-identity==14.0.0
six==1.8.0
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
zope.interface==4.1.1
